<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${titulo}"></title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
  <h1 class="color-rojo" th:text="${body}"></h1>
  <h2 class="color-azul">Decorando con un color azul</h2>

  <img th:src="@{/images/console.jpg}" alt="">
</body>

</html>